{% extends 'index.html' %}
{% load static %}
{% block content %}

<section>
    <div class="container mt-5">
        <h2 class="h2tag">About Us</h2>
        <hr class="w-25 gold float-left"><br><br>
        
        <p>PinterestoZ is an online pinterest image downloader web tool, using pinterestoZ web tool you can download images from pinterest and it allows the user to download pinterest images in hd. It is an easy and free tool to download pinterest images without login.</p>
        <p>provides user a safe environment to download pinterest images without login. PinterestoZ never tracks user's downloaded pinterest images. It is completely junk and malware free tool to download full size images from pinterest.</p>
        <p>Pinterest doesn't allow others to download pinterest images and people are facing problems without the downloading option. To over come these kind of problems we have developed pinterestoZ .</p>
        <p>If you want to know more about us or you want to tell us about the pinterestoZ web tool, you can feel free to contect us at any time. You can use Email medium to contact us. </p>
        <p>Our Email address : <span class="email">pinterestozwebtool@gmail.com</span></p>
    
    </div>
</section>

{% endblock %}